.profile {
  position: absolute;
  text-outline: 0 0 #000;
  top: 14%;
  left: 53%;
  border: 5px solid hsl(196, 29%, 13%);
  border-radius: 5%;
}

.project {
  object-fit: stretch;
  border-radius: 5%;
  border: 2px solid #2b7a78;
}
